.displayContainer {
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 242, 246);
  display: flex;
  flex-direction: column;
}

.HeaderCont {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.displayContainer h2 {
  color: black;
  text-align: center;
  text-shadow: 2px 2px 4px gray;
}

.HeaderBar {
  width: 100%;
  border: 1px solid black;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.headerInfo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 8px;
  margin-right: 30px;
  justify-content: center;
}

.headerInfo p {
  font-size: 2rem;
  margin-top: 60px;
  font-weight: 600;
}

.otherHeaderInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.otherHeaderInfo p {
  font-size: 1rem;
  font-weight: 600;
  word-spacing: 10px;
}

.eduContainer,
.expContainer {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  text-shadow: 2px 2px 1px gray;
  padding: 5px;
}

.eduInfo,
.expInfo {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 20px;
  margin-top: 3px;
  padding: 20px;
}
